@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/hanamin@latest/HanaMin.min.css");
@import url("https://cdn.jsdelivr.net/gh/ayaka14732/syyon-vencie@6b08e67/charissil/CharisSIL.css");
@import url("https://cdn.jsdelivr.net/gh/nushu-script/NotoTraditionalNushu@woff-v1.0/index.css");
/* ZHS (1) */
:lang(zh), :lang(cmn) {
	font-family: "Roboto", "Source Han Serif SC", "Noto Serif CJK SC", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", sans-serif, HanaMin, sans-serif;
	font-language-override: "ZHS";
}
/* ZHH (1) */
:lang(yue), :lang(lzh), :lang(ltc), :lang(och) {
	font-family: "Roboto", "Source Han Serif K", "Noto Serif CJK KR", "PingFang HK", "PingFang TC", "Microsoft Jhenghei", sans-serif, HanaMin, sans-serif;
	font-language-override: "KOR";
}
/* JAN (1) */
:lang(ja) {
	font-family: "Roboto", "Source Han Serif", "Noto Serif CJK JP", "Hiragino Sans", "Meiryo", sans-serif, HanaMin, sans-serif;
	font-language-override: "JAN";
}
/* KOR (1) */
:lang(ko) {
	font-family: "Roboto", "Source Han Serif K", "Noto Serif CJK KR", "PingFang HK", "PingFang TC", "Microsoft Jhenghei", sans-serif, HanaMin, sans-serif;
	font-language-override: "KOR";
}
/* ZHS (2) */
:lang(yue-Hans) {
	font-family: "Roboto", "Source Han Serif SC", "Noto Serif CJK SC", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif, HanaMin, sans-serif;
	font-language-override: "ZHS";
}
/* ZHH (2) */
:lang(zh-HK), :lang(zh-TW), :lang(zh-Hant), :lang(cmn-Hant) {
	font-family: "Roboto", "Source Han Serif K", "Noto Serif CJK KR", "PingFang HK", "PingFang TC", "Microsoft Jhenghei", sans-serif, HanaMin, sans-serif;
	font-language-override: "KOR";
}
/* Others */
:lang(en),
:lang(zh-Latn),
:lang(cmn-Latn),
:lang(ltc-Latn),
:lang(lzh-Latn),
:lang(och-Latn),
:lang(yue-Latn),
:lang(ja-Latn),
:lang(ko-Latn) {
	font-family: sans-serif, sans-serif;
}
:lang(en-x-code) {
	font-family: monospace, monospace, CharisSILW, "Roboto", "Source Han Serif K", "Noto Serif CJK KR", "PingFang HK", "PingFang TC", "Microsoft Jhenghei", HanaMin, monospace, monospace;
	font-language-override: "KOR";
}
:lang(en-fonipa),
:lang(zh-Latn-fonipa),
:lang(cmn-Latn-fonipa),
:lang(ltc-Latn-fonipa),
:lang(lzh-Latn-fonipa),
:lang(och-Latn-fonipa),
:lang(yue-Latn-fonipa) {
	font-family: CharisSILW, sans-serif;
}
:lang(zh-Nshu) {
	font-family: sans-serif, "Noto Traditional Nushu", sans-serif;
}
